[data-md-color-scheme=default] {
    --md-default-fg-color--light: #222 !important;

}

[data-md-color-scheme=slate] {
    --md-default-fg-color--light: #fefefe !important;
    --md-typeset-a-color: #fc0 !important;
}

.md-typeset h1 {
    /* 太字 */
    font-weight: bold;
    /* 下線の色 */
    border-bottom: solid 2px #f18b21;
    /* 下線との余白 */
    padding-bottom: 5px;
}

.md-typeset h2 {
    /* 点線下線 */
    border-bottom: 2px dotted #888;
}

.md-typeset h3:before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f0a9";
    margin-right: 5px;
}