# Project information
site_name: KKT89's Library
docs_dir: docsrc

# Repository
repo_name: KKT89/cpp-lib
repo_url: https://github.com/KKT89/cpp-lib

# Configuration
theme:
  name: material
  font:
    text: Noto Sans JP
    code: Inconsolata
  icon:
    repo: fontawesome/brands/github
  logo: img/kkt89.jpg
  favicon: img/kkt89.jpg
  language: ja
  features:
    - navigation.instant # 画面全体をリロードしないようにする
    - navigation.tabs # 画面上部のタブに最上層のグループを表示する
    - toc.integrate # 目次を左サイドバー内に統合
    - content.code.copy # コードブロックにコピーを追加
  palette:
    - scheme: default
      primary: cyan
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch-off
        name: Switch to light mode

# Plugins
plugins:
  - search:
      lang: 'ja'
  - open-in-new-tab:
  - tags:

# Additional configuration
extra_css:
  - "https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css"
  - "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  - css/logo.css
  - css/layout.css
  - css/code.css

extra_javascript:
  - https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js # KaTeX本体
  - https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/contrib/auto-render.min.js # $…$を検出し、描画するためのヘルパ
  - js/katex_init.js # SPA (instant loading) でも毎ページ描画させる初期化コード

# Extensions
markdown_extensions:
  - footnotes # 脚注
  - admonition # 注釈ブロック
  - pymdownx.highlight:
      linenums: true # コードブロックに行番号を表示
  - pymdownx.inlinehilite # 行内コード ==var== のように書くとハイライト色付きで強調。
  - pymdownx.superfences # トリプルフェンス内でタブ切替 (=== "C++" など) を実装。複合的なコードブロックや Markdown in code も可。
  - pymdownx.snippets:
      check_paths: true
      base_path:
        - .
  - pymdownx.arithmatex: # $ ... $ / $$ ... $$ で LaTeX 数式を埋め込む。
      generic: true
  - codehilite: # Python-Markdown 標準のハイライト拡張。
      guess_lang: false
  - toc: # 各ページ冒頭に自動で目次を生成。
      permalink: true

# Page tree
nav:
  - Home: index.md
  - Library:
      - sample: library/sample/sample.md
      - Bell: library/graph/bellman_ford.md
      - Schieber-Vishkin LCA: library/tree/schieber_vishkin_lca.md
  - Note: note/note.md
